h1 {
    color: blue;
    text-align: center;
}

/*Chama o elemento com o id foo*/
#foo {
    color: red;
    text-align: center;
}

/*Chama o elemento com a class baz*/
.baz {
    color: green;
    text-align: center;
}